.container-home{
    position: relative;

    display: flex;
    flex-direction: row;

    justify-content: flex-end;

    width: 1720px; 
    height: calc( 100vh - 100px );
    margin: auto;
}
.container-home .title{
    position: absolute; 

    left: 0px;
    top: 80px;
    font-weight: 400;
}

.mainImage{ 
    position: absolute;
    width: auto;
    max-height: calc( 100% - 100px );
    bottom: 0px;
}

.container-home .title-session{
    display: flex;
    justify-content: center;

    margin-top: 120px;

    width: 100%; 
    text-align: center;
}
.mobileImage{ 
    display: none;
    max-width: 90%;
    
}
@media(max-width: 960px){
    *{
        max-width: 100%;
    }
    .container-home{
        max-width: 90%;
        margin: auto;
    }
    .mainImage{ 
        display: none;
    }
    .mobileImage{ 
        position: absolute;
        left: 20px;
        bottom: 0px; 

        display: block;
        
        width: auto;
        height: auto;
        max-height: calc( 100% - 200px );
    }
}